// Color
$primary-blue : #0C335A;
$primary-orange: #F38E2A;
$background-color: #F2F2F2;
$dark-text-color: #091c2f;
$gray-text-color: rgb(94, 93, 93);

// Font-style
$primary-font : "Maven Pro", sans-serif;
$sub-font : "Ubuntu", sans-serif;

// Font-size
$mobile-text-size: 18px