// Color
$primary-blue: #0c335a;
$primary-orange: #f38e2a;
$background-color: #f2f2f2;
$light-skyblue: #e5edf5;
$dark-text-color: #091c2f;
$gray-text-color: rgb(94, 93, 93);

// Font-style
$primary-font: "Maven Pro", sans-serif;
$sub-font: "Ubuntu", sans-serif;

// Font-size
$mobile-text-size: 18px;

// Mixins
@mixin flex {
  display: flex;
  align-items: center;
}
