@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Maven Pro", sans-serif;
  background-color: #f2f2f2;
}

.page {
  height: 100vh;
}

.cursor-pointer,
button {
  cursor: pointer;
}

.error {
  color: red;
}

#nav {
  background-color: #0c335a;
  padding: 15px 20px;
}
#nav .logo-box-desktop {
  display: none;
}
#nav .desktop-menu {
  display: none;
}
#nav .nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav .nav-menu .hamburger-menu .hamburger-react {
  color: white;
}
#nav .login-info {
  color: white !important;
}
#nav .login-info .user-info {
  padding-right: 20px;
  text-align: right;
  font-family: "Maven Pro", sans-serif;
}
#nav .login-info .user-info h4 {
  font-size: 18px;
  height: 22px;
}
#nav .login-info .user-info P {
  font-size: 16px;
  font-weight: 300;
}

.mobile-menu {
  position: absolute;
  z-index: 999;
  background: #0c335a;
  left: 0;
  padding: 0px 50px 25px;
  width: 100%;
  top: 76px;
}
.mobile-menu ul {
  list-style: none;
}
.mobile-menu ul li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 30px 0px;
}
.mobile-menu ul li p {
  margin-left: 15px;
}

.announcement,
.celebration {
  background-color: white;
  padding: 20px 30px;
  margin-bottom: 30px;
}
.announcement .title-box,
.celebration .title-box {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #0c335a;
  font-size: 23px;
}
.announcement .title-box h5,
.celebration .title-box h5 {
  margin-left: 10px;
}

.announcement-message {
  height: 85px !important;
}
.announcement-message p {
  font-size: 18px;
  margin-bottom: 7px;
}
.announcement-message span {
  color: rgb(94, 93, 93);
}

.swiper-pagination-horizontal {
  top: 68px !important;
}

.swiper-pagination-bullet-active {
  background: #0c335a !important;
}

.celebration-content {
  margin-bottom: 18px;
}
.celebration-content p {
  font-size: 18px;
  margin-bottom: 7px;
}
.celebration-content span {
  color: rgb(94, 93, 93);
}

.recognition-feed-component {
  padding: 20px 30px;
}
.recognition-feed-component .section-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.recognition-feed-component .section-title button {
  border: none;
  padding: 10px 20px;
  background-color: #0c335a;
  color: white;
  border-radius: 10px;
  font-size: 16px;
}
.recognition-feed-component .message-box {
  background-color: white;
  border-top: 2px solid #0c335a;
  padding: 20px 30px;
}
.recognition-feed-component .message-box .message-name .name {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 18px;
}
.recognition-feed-component .message-box .message-name .name .author {
  font-weight: 500;
  margin-right: 10px;
}
.recognition-feed-component .message-box .message-name .name .target {
  color: #06417c;
  font-weight: 500;
  margin-left: 10px;
}
.recognition-feed-component .message-box .message-content {
  margin-bottom: 10px;
  font-size: 18px;
}
.recognition-feed-component .message-box .message-content p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}
.recognition-feed-component .message-box .message-time {
  text-align: end;
  color: rgb(94, 93, 93);
  font-size: 15px;
}

.css-wjh20t-MuiPagination-ul {
  display: flex;
  justify-content: center;
  padding: 15px 0px !important;
}

.css-c09uja-MuiPaper-root-MuiDialog-paper {
  padding: 10px 15px 15px;
}

.css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-15k6ek6-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  min-width: 350px;
}

.css-2rvm5j-MuiInputBase-root-MuiInput-root {
  margin-top: 30px;
}

.css-19kok5i-MuiDialogActions-root > :not(style) ~ :not(style) {
  background-color: #0c335a;
  color: white !important;
  padding: 6px 20px;
  border-radius: 10px;
}

.css-1apkmlw-MuiButtonBase-root-MuiButton-root {
  color: #0c335a !important;
}

.error-messageinput {
  color: red;
  position: absolute;
  bottom: 25px;
  left: 40px;
  width: 220px;
}

.salesRanking {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.salesRanking li {
  list-style: none;
}

.signup,
.login {
  background-color: #0c335a;
  text-align: center;
  color: white;
  padding-top: 150px;
}
.signup h4,
.login h4 {
  font-size: 26px;
}
.signup .user-input-box,
.login .user-input-box {
  padding: 50px 80px 20px;
}
.signup .submit-btn-box,
.login .submit-btn-box {
  padding: 0px 80px 13px;
}
.signup .submit-btn-box button,
.login .submit-btn-box button {
  background-color: #f38e2a;
  border: none;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.signup .link-to-login,
.login .link-to-login {
  margin-left: 80px;
  text-align: left;
  display: flex;
}
.signup .link-to-login span,
.login .link-to-login span {
  margin-left: 10px;
  color: #f38e2a;
  font-weight: 500;
}
.signup .error-message,
.login .error-message {
  text-align: left;
  margin-left: 80px;
  margin-top: 20px;
  color: #f38e2a;
}
.signup .error-message .error,
.login .error-message .error {
  display: flex;
  align-items: center;
}
.signup .error-message .error svg,
.login .error-message .error svg {
  margin-right: 5px;
}

.form-input {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

.kudos-board .kudos-board-contents {
  padding-bottom: 30px;
}
.kudos-board .kudos-leaderboard {
  background-color: white;
  padding: 30px 40px;
  margin: 30px 40px;
  border-radius: 10px;
}
.kudos-board .kudos-leaderboard h2 {
  margin-bottom: 20px;
  display: flex;
  align-items: end;
}
.kudos-board .kudos-leaderboard h2 svg {
  font-size: 40px;
  margin-right: 10px;
}
.kudos-board .kudos-leaderboard-list {
  margin-top: 20px;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #e5edf5;
  border-radius: 10px;
  text-align: center;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item .leaderboard-rank {
  flex: 0.9;
  font-size: 17px;
  padding: 20px 10px;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item .leaderboard-rank svg {
  font-size: 35px;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item .leaderboard-name {
  border-right: 2px solid white;
  border-left: 2px solid white;
  flex: 2.5;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 18px;
  padding: 20px 10px 20px 25px;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item .leaderboard-name span {
  color: rgb(94, 93, 93);
  font-weight: 400;
  font-size: 16px;
}
.kudos-board .kudos-leaderboard-list .leaderboard-item .leaderboard-kudos-count {
  font-weight: 500;
  flex: 1;
  font-size: 15px;
  padding: 20px 10px;
}
.kudos-board .senders-leaderboard {
  margin: 35px 40px;
  background-color: white;
  padding: 30px 40px;
  border-radius: 10px;
}
.kudos-board .senders-leaderboard h3 {
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid black;
  padding-bottom: 30px;
  display: flex;
  align-items: end;
}
.kudos-board .senders-leaderboard h3 svg {
  font-size: 40px;
  margin-right: 10px;
}
.kudos-board .senders-leaderboard .senders-leaderboard-list {
  margin: 30px 0px;
}
.kudos-board .senders-leaderboard .senders-leaderboard-list .senders-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.kudos-board .senders-leaderboard .senders-leaderboard-list .senders-item .senders-rank {
  background-color: #e5edf5;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}
.kudos-board .senders-leaderboard .senders-leaderboard-list .senders-item .senders-name {
  display: flex;
  flex-direction: column;
  flex: 2;
  margin-left: 30px;
  font-size: 18px;
}
.kudos-board .senders-leaderboard .senders-leaderboard-list .senders-item .senders-name span {
  font-size: 16px;
  color: rgb(94, 93, 93);
}
.kudos-board .senders-leaderboard .senders-leaderboard-list .senders-item .senders-post {
  flex: 1;
}

.admin {
  padding-bottom: 30px;
}
.admin h3 {
  font-size: 22px;
}
.admin .admin-announcement-section {
  background-color: white;
  margin: 30px;
  padding: 20px 30px;
  border-radius: 10px;
}
.admin .admin-announcement-section .admin-announcement-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.admin .admin-announcement-section .admin-announcement-header button {
  background-color: #0c335a;
  color: white;
  border-radius: 10px;
  padding: 8px 15px;
  font-size: 14px;
}
.admin .admin-announcement-section .admin-announcement-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(163, 162, 162);
}
.admin .admin-announcement-section .admin-announcement-item .admin-action-delete {
  margin-right: 10px;
}
.admin .admin-team-section {
  position: relative;
  background-color: white;
  margin: 30px;
  border-radius: 10px;
  padding: 30px;
}
.admin .admin-team-section .admin-team-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0px 15px;
  font-size: 17px;
}
.admin .admin-team-section .admin-team-filter .admin-team-filter-icons {
  display: flex;
  align-items: center;
  font-size: 25px;
  gap: 10px;
}
.admin .admin-team-section .admin-team-table-container {
  border: 1px solid #e0e0e0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.admin .admin-team-section .admin-team-table-header,
.admin .admin-team-section .admin-team-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 100px;
  gap: 10px;
  align-items: center;
}
.admin .admin-team-section .admin-team-table-header {
  font-weight: 500;
  background-color: #e5edf5;
  padding: 13px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.admin .admin-team-section .admin-team-item {
  padding: 13px;
  border-bottom: 1px solid #e0e0e0;
}
.admin .admin-team-section .admin-action {
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 19px;
}
.admin .admin-team-section .admin-action button {
  border: none;
  background-color: white;
  color: #0c335a;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 3px;
  font-weight: 500;
}
.admin #success-alert {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
}

.myaccount-contents {
  margin: 30px 40px;
  background-color: white;
  padding: 35px 40px 50px;
  border-radius: 10px;
}
.myaccount-contents h2 {
  margin-bottom: 15px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(165, 164, 164);
}
.myaccount-contents .align-button-right {
  display: flex;
  justify-content: flex-end;
}
.myaccount-contents .myaccount-title-password {
  margin-top: 50px;
}
.myaccount-contents .form-button-style {
  margin-top: 20px;
  padding: 8px 25px;
  background-color: #0c335a;
  color: white;
}
.myaccount-contents .updatePasswordBtn {
  background-color: #f38e2a;
}

.error-announcementInput {
  color: red;
  position: absolute;
  left: 40px;
  bottom: 60px;
}

footer {
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0c335a;
  color: white;
}
footer .footer-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  padding-top: 10px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin: 20px 0px;
  font-size: 18px;
}
footer .copyright {
  text-align: center;
  font-size: 15px;
  padding: 20px 0px;
}

@media screen and (min-width: 900px) {
  .page {
    display: flex;
    height: 100%;
  }
  .home-contents,
  .kudosboard-contents,
  .saleschart-contents,
  .anniversary-contents,
  .admin-contents,
  .myaccount-contents {
    flex: 1;
    margin: 20px 30px;
    overflow: hidden;
  }
  .kudos-board,
  .login,
  .signup {
    height: 100vh;
  }
  .logo-box-desktop {
    display: block;
    margin-right: 10px;
  }
  .logo-box-desktop img {
    width: 190px;
  }
  #nav {
    padding: 15px 40px;
  }
  #nav .logo_and_menu_container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #nav .logo_and_menu_container .hamburger-menu {
    display: none;
  }
  #nav .logo_and_menu_container .logo-box-desktop {
    display: block;
  }
  #nav .logo_and_menu_container .logo-box-desktop img {
    width: 190px;
  }
  #nav .desktop-menu {
    display: block;
    margin-left: 10px;
  }
  #nav .desktop-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 18px;
    color: white;
    font-size: 19px;
  }
  .salesRanking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .salesRanking li {
    list-style: none;
  }
  .signup,
  .login {
    display: flex;
    justify-content: center;
  }
  .signup .page-container,
  .login .page-container {
    width: 850px;
  }
  .login {
    padding-top: 200px;
  }
  .kudos-board-contents {
    display: flex;
    width: 100%;
  }
  .kudos-board-contents .kudos-leaderboard {
    flex: 2;
    padding: 40px;
  }
  .kudos-board-contents .senders-leaderboard {
    flex: 1;
    padding: 40px;
    margin: 30px 40px 30px 0px;
  }
  .admin-team-table-header,
  .admin-team-item {
    gap: 30px;
  }
  #permission-selector {
    width: 120px !important;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */