@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Maven Pro", sans-serif;
  background-color: #F2F2F2;
}

.page {
  height: 100vh;
}

.cursor-pointer {
  cursor: pointer;
}

nav {
  background-color: #0C335A;
  padding: 15px 20px;
}
nav .nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .nav-mobile .hamburger-menu-mobile .hamburger-react {
  color: white;
}
nav .nav-mobile .logo-box-mobile {
  margin: 0 auto;
}
nav .login-info {
  display: flex;
  align-items: center;
  color: white;
}
nav .login-info .user-info {
  padding-right: 20px;
  border-right: 1px solid white;
}
nav .login-info .user-info h4 {
  font-size: 16px;
}
nav .login-info .user-info P {
  font-size: 15px;
}
nav .login-info .logout-btn {
  font-size: 23px;
  padding-left: 20px;
}
nav .nav-desktop {
  display: none;
}

.mobile-menu {
  position: absolute;
  background: #0C335A;
  left: 0;
  padding: 0px 50px 25px;
  width: 100%;
  top: 76px;
}
.mobile-menu ul {
  list-style: none;
}
.mobile-menu ul li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 20px;
  margin: 30px 0px;
}
.mobile-menu ul li p {
  margin-left: 15px;
}

.desktop-menu {
  display: none;
}

.signup,
.login {
  background-color: #0C335A;
  text-align: center;
  color: white;
  padding-top: 60px;
}
.signup h4,
.login h4 {
  font-size: 26px;
}
.signup .user-input-box,
.login .user-input-box {
  padding: 50px 80px 20px;
}
.signup .submit-btn-box,
.login .submit-btn-box {
  padding: 0px 80px 13px;
}
.signup .submit-btn-box button,
.login .submit-btn-box button {
  background-color: #F38E2A;
  border: none;
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.signup .link-to-login,
.login .link-to-login {
  margin-left: 80px;
  text-align: left;
  display: flex;
}
.signup .link-to-login span,
.login .link-to-login span {
  margin-left: 10px;
  color: #F38E2A;
  font-weight: 500;
}
.signup .error-message,
.login .error-message {
  text-align: left;
  margin-left: 80px;
  margin-top: 20px;
  color: #F38E2A;
}
.signup .error-message .error,
.login .error-message .error {
  display: flex;
  align-items: center;
}
.signup .error-message .error svg,
.login .error-message .error svg {
  margin-right: 5px;
}

.form-input {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px !important;
}

footer {
  position: fixed;
  height: auto;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #0C335A;
  color: white;
}
footer .footer-logo-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  padding-top: 10px;
}
footer .footer-menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin: 20px 0px;
  font-size: 18px;
}
footer .copyright {
  text-align: center;
  font-size: 15px;
  padding: 20px 0px;
}

@media screen and (min-width: 992px) {
  nav {
    padding: 20px 50px;
  }
  nav .nav-mobile {
    display: none;
  }
  nav .login-info {
    display: flex;
    align-items: center;
    color: white;
  }
  nav .login-info .user-info {
    padding-right: 30px;
    border-right: 1px solid white;
  }
  nav .login-info .user-info h4 {
    font-size: 20px;
  }
  nav .login-info .user-info P {
    font-size: 18px;
  }
  nav .login-info .logout-btn {
    font-size: 26px;
    padding-left: 30px;
  }
  nav .nav-desktop {
    display: flex;
    justify-content: space-between;
  }
  nav .nav-desktop img {
    width: 200px;
  }
  nav .nav-desktop .logo-box-desktop {
    font-family: "Ubuntu", sans-serif;
    display: flex;
    color: white;
    align-items: flex-end;
    font-size: 22px;
  }
  nav .nav-desktop .logo-box-desktop .logo-text-desktop {
    margin-left: 10px;
  }
  .desktop-menu {
    display: grid;
    grid-template-rows: 1fr 265px;
    width: 300px;
    background-color: white;
    color: #091c2f;
    height: 100vh;
    margin-left: 50px;
    padding: 30px;
  }
  .desktop-menu li {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 25px 20px;
  }
  .desktop-menu li p {
    margin-left: 20px;
  }
  .signup,
  .login {
    display: flex;
    justify-content: center;
  }
  .signup .page-container,
  .login .page-container {
    width: 850px;
  }
  .login {
    padding-top: 100px;
  }
  .home {
    display: flex;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=App.css.map */