@media screen and (min-width: 900px) {
  //affect mutiple pages
  .page {
    display: flex;
    height: 100%;
  }

  .home-contents,
  .saleschart-contents,
  .anniversary-contents,
  .admin-contents,
  .myaccount-contents {
    flex: 1;
    margin: 30px 40px;
    overflow: hidden;
  }

  .kudos-board,
  .login,
  .signup {
    height: 100vh;
  }

  .kudos-board-contents {
    height: max-content;
  }

  //nav
  .logo-box-desktop {
    display: block;
    margin-right: 10px;
    img {
      width: 190px;
    }
  }

  #nav {
    padding: 15px 40px;
    .logo_and_menu_container {
      display: flex;
      align-items: center;
      gap: 10px;
      .hamburger-menu {
        display: none;
      }
      .logo-box-desktop {
        display: block;
        img {
          width: 190px;
        }
      }
    }
    .desktop-menu {
      display: block;
      margin-left: 10px;
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 18px;
        color: white;
        font-size: 19px;
      }
    }
  }

  //Home
  .notice-board {
    display: grid;
    grid-template-columns: 47% 1fr;
    gap: 20px;
    padding: 10px 30px;
  }

  //Sales Chart
  .salesRanking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    li {
      list-style: none;
    }
  }

  .signup,
  .login {
    display: flex;
    justify-content: center;
    .page-container {
      width: 850px;
    }
  }

  .login {
    padding-top: 200px;
  }

  //Kudos Leaderboard
  .kudos-board-contents {
    display: flex;
    width: 100%;
    .kudos-leaderboard {
      flex: 2;
      padding: 40px;
    }

    .senders-leaderboard {
      flex: 1;
      padding: 40px;
      margin: 30px 40px 30px 0px;
    }
  }

  //Admin
  .admin-team-table-header,
  .admin-team-item {
    gap: 30px;
  }
  #permission-selector {
    width: 120px !important;
  }

  //kudosboard page
  .kudos-board {
    .kudos-leaderboard {
      h2 {
        font-size: 27px;
        svg {
          font-size: 40px;
          margin-right: 10px;
        }
      }
    }
    .kudos-leaderboard-list {
      .leaderboard-item {
        .leaderboard-rank {
          font-size: 19px;
          svg {
            font-size: 40px;
          }
        }
        .leaderboard-name {
          font-size: 20px;
        }
        .leaderboard-kudos-count {
          font-size: 18px;
        }
      }
    }

    .senders-leaderboard {
      margin: 35px 40px;
      background-color: white;
      padding: 30px 40px;
      border-radius: 10px;
      h3 {
        font-size: 24px;
        font-weight: 500;
        border-bottom: 1px solid black;
        padding-bottom: 30px;
        display: flex;
        align-items: end;
        svg {
          font-size: 40px;
          margin-right: 10px;
        }
      }
      .senders-leaderboard-list {
        .senders-item {
          margin-bottom: 30px;
          .senders-rank {
            font-size: 18px;
          }
          .senders-name {
            display: flex;
            flex-direction: column;
            flex: 2;
            margin-left: 30px;
            font-size: 20px;
            span {
              font-size: 18px;
              color: $gray-text-color;
            }
          }
          .senders-post-count {
            font-size: 18px;
          }
        }
      }
    }
  }
}
