@media screen and (min-width: 900px) {
  //affect mutiple pages
  .page {
    display: flex;
    height: 100%;
  }

  .home-contents,
  .kudosboard-contents,
  .saleschart-contents,
  .anniversary-contents,
  .admin-contents,
  .myaccount-contents {
    flex: 1;
    margin: 20px 30px;
    overflow: hidden;
  }

  .kudos-board,
  .login,
  .signup {
    height: 100vh;
  }

  //nav
  .logo-box-desktop {
    display: block;
    margin-right: 10px;
    img {
      width: 190px;
    }
  }

  #nav {
    padding: 15px 40px;
    .logo_and_menu_container {
      display: flex;
      align-items: center;
      gap: 10px;
      .hamburger-menu {
        display: none;
      }
      .logo-box-desktop {
        display: block;
        img {
          width: 190px;
        }
      }
    }
    .desktop-menu {
      display: block;
      margin-left: 10px;
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 18px;
        color: white;
        font-size: 19px;
      }
    }
  }

  //Sales Chart
  .salesRanking {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    li {
      list-style: none;
    }
  }

  .signup,
  .login {
    display: flex;
    justify-content: center;
    .page-container {
      width: 850px;
    }
  }

  .login {
    padding-top: 200px;
  }

  //Kudos Leaderboard
  .kudos-board-contents {
    display: flex;
    width: 100%;
    .kudos-leaderboard {
      flex: 2;
      padding: 40px;
    }

    .senders-leaderboard {
      flex: 1;
      padding: 40px;
      margin: 30px 40px 30px 0px;
    }
  }

  //Admin
  .admin-team-table-header,
  .admin-team-item {
    gap: 30px;
  }
  #permission-selector {
    width: 120px !important;
  }

  // Footer
  footer {
    display: none;
  }
}
